html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;

}
/* background inspried by Remy */
body {
    background-image: url(imgs/College.png);
    background-size: 88px;
    animation-name: tiles;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-family: "podium-soft-variable", sans-serif;
    font-variation-settings: "wdth" 100;
    font-size: x-large;
    color: rgb(184, 3, 3);
}
/* ends here */

p {
    font-family: "graduate", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(221, 65, 65);
}

img {
    height: 130px;
    width: 300px;
}
/*Remy has to yell at it for it to work*/
.nav-link {
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-top: 40px !important;
    color:aliceblue;
    position: relative; /* Required for positioning the pseudo-element */
    text-decoration: none; /* Remove default underline */
}
/*:))))))))))))))*/

/*GPT assisted*/
.nav-link.active {
  color: rgb(255,255,255) !important;
  font-weight: bold;
  text-decoration: underline;
}

.section-padding {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.section-padding.visible {
  opacity: 1;
  transform: translateY(0);
}

/*ends here*/


/*  
.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0; 
  height: 2px; 
  background-color: black; 
  transition: width 0.3s ease-out; 
} 

.navbar-link:hover::after {
  width: 100%;  
}
  */



nav {
    /* box-shadow: 0px 0px 50px red; */
    background-image: linear-gradient(red, rgba(255, 0, 0, 0.37),transparent);
    height: 200px !important;
    text-decoration: none !important; /* Removes default underline */
    
 
    /* Video code
    height: 100vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justift-content: space-around;
    margin: auto;
     */

}

.nav-link:hover {
    text-decoration: underline !important;
    color:rgb(201, 50, 50);
}

@keyframes tiles {
    from {
        background-position: 0;

    }
    to {
        background-position: 88px;
    }
}

.space {
    height: calc(100vh - 200px);
    width: 100%;
    display:block;
}

/* Section spacing */
section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* Section headings */
section h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}

/* Student life images uniform */
#student-life img {
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

/* Better separation between sections */
.bg-light {
  background-color: #f8f9fa !important;
}
.bg-white {
  background-color: #ffffff !important;
}

/* Bigger section spacing */
.section-padding {
  padding: 150px 0; /* super tall */
}

/* Optional: spacing for headings + text inside sections */
.section-padding h2 {
  margin-bottom: 2rem;
}

.section-padding p {
  font-size: 1.15rem;
  line-height: 1.8;
}

